In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from mapboxgl.utils import *

In [2]:
#import coordinates
df_geoloc = pd.read_csv("countries_geoloc.csv")
df_geoloc.head(5)

  country   latitude  longitude                  name
0      AA  60.178525  19.915610                 Åland
1      AD  42.546245   1.601554               Andorra
2      AE  23.424076  53.847818  United Arab Emirates
3      AF  33.939110  67.709953           Afghanistan
4      AG  17.060816 -61.796428   Antigua And Barbuda

In [3]:
#import main temp dataset
df_temp = pd.read_csv("countries_temp.csv", index_col = "dt", parse_dates=True)
df_temp.head(5)

            AverageTemperature  AverageTemperatureUncertainty Country
dt
1743-11-01               4.384                          2.294   Åland
1743-12-01                 NaN                            NaN   Åland
1744-01-01                 NaN                            NaN   Åland
1744-02-01                 NaN                            NaN   Åland
1744-03-01                 NaN                            NaN   Åland

In [4]:
#join coordinates and main temp
df_left = pd.merge(df_temp, df_geoloc, how="left", left_on="Country", right_on="name")
print(df_left)

        AverageTemperature  AverageTemperatureUncertainty   Country country  \
0                    4.384                          2.294     Åland      AA
1                      NaN                            NaN     Åland      AA
2                      NaN                            NaN     Åland      AA
3                      NaN                            NaN     Åland      AA
4                      NaN                            NaN     Åland      AA
...                    ...                            ...       ...     ...
577457              19.059                          1.022  Zimbabwe      ZW
577458              17.613                          0.473  Zimbabwe      ZW
577459              17.000                          0.453  Zimbabwe      ZW
577460              19.759                          0.717  Zimbabwe      ZW
577461                 NaN                            NaN  Zimbabwe      ZW

         latitude  longitude      name
0       60.178525  19.915610     Åland
1       60.178525  19.915610     Åland
2       60.178525  19.915610     Åland
3       60.178525  19.915610     Åland
4       60.178525  19.915610     Åland
...           ...        ...       ...
577457 -19.015438  29.154857  Zimbabwe
577458 -19.015438  29.154857  Zimbabwe
577459 -19.015438  29.154857  Zimbabwe
577460 -19.015438  29.154857  Zimbabwe
577461 -19.015438  29.154857  Zimbabwe

[577462 rows x 7 columns]

In [5]:
print(df_left[df_left["Country"] == "Macedonia"])

        AverageTemperature  AverageTemperatureUncertainty    Country country  \
313446               5.431                          2.487  Macedonia      MK
313447                 NaN                            NaN  Macedonia      MK
313448                 NaN                            NaN  Macedonia      MK
313449                 NaN                            NaN  Macedonia      MK
313450                 NaN                            NaN  Macedonia      MK
...                    ...                            ...        ...     ...
316680              17.718                          0.651  Macedonia      MK
316681              19.880                          0.423  Macedonia      MK
316682              22.328                          0.653  Macedonia      MK
316683              23.585                          0.745  Macedonia      MK
316684                 NaN                            NaN  Macedonia      MK

         latitude  longitude       name
313446  41.608635  21.745275  Macedonia
313447  41.608635  21.745275  Macedonia
313448  41.608635  21.745275  Macedonia
313449  41.608635  21.745275  Macedonia
313450  41.608635  21.745275  Macedonia
...           ...        ...        ...
316680  41.608635  21.745275  Macedonia
316681  41.608635  21.745275  Macedonia
316682  41.608635  21.745275  Macedonia
316683  41.608635  21.745275  Macedonia
316684  41.608635  21.745275  Macedonia

[3239 rows x 7 columns]

In [6]:
df_left_new = pd.merge(df_temp, df_geoloc, how="left", left_on="Country", right_on="name")
print(df_left_new)

        AverageTemperature  AverageTemperatureUncertainty   Country country  \
0                    4.384                          2.294     Åland      AA
1                      NaN                            NaN     Åland      AA
2                      NaN                            NaN     Åland      AA
3                      NaN                            NaN     Åland      AA
4                      NaN                            NaN     Åland      AA
...                    ...                            ...       ...     ...
577457              19.059                          1.022  Zimbabwe      ZW
577458              17.613                          0.473  Zimbabwe      ZW
577459              17.000                          0.453  Zimbabwe      ZW
577460              19.759                          0.717  Zimbabwe      ZW
577461                 NaN                            NaN  Zimbabwe      ZW

         latitude  longitude      name
0       60.178525  19.915610     Åland
1       60.178525  19.915610     Åland
2       60.178525  19.915610     Åland
3       60.178525  19.915610     Åland
4       60.178525  19.915610     Åland
...           ...        ...       ...
577457 -19.015438  29.154857  Zimbabwe
577458 -19.015438  29.154857  Zimbabwe
577459 -19.015438  29.154857  Zimbabwe
577460 -19.015438  29.154857  Zimbabwe
577461 -19.015438  29.154857  Zimbabwe

[577462 rows x 7 columns]

In [7]:
list_geoloc_unique = df_geoloc.name.unique()
list_temp_unique = df_temp.Country.unique()
np_geoloc = np.array(list_geoloc_unique)
np_temp = np.array(list_temp_unique)
#df_geoloc_unique = pd.DataFrame(np_geoloc, columns=['country']).applymap(lambda x: x.lower())
#df_temp_unique = pd.DataFrame(np_temp, columns =["country"]).applymap(lambda x: x.lower())
df_geoloc_unique = pd.DataFrame(np_geoloc, columns=['country'])
df_temp_unique = pd.DataFrame(np_temp, columns =["country"])

df_differences = pd.concat([df_geoloc_unique, df_temp_unique]).drop_duplicates(keep=False)

print(df_differences)
print(df_differences.shape)

                               country
8                 Netherlands Antilles
27                             Bermuda
28                              Brunei
33                       Bouvet Island
38             Cocos [Keeling] Islands
44                        Cook Islands
71                          Micronesia
81                           Gibraltar
105     British Indian Ocean Territory
141                   Marshall Islands
153                           Maldives
161                     Norfolk Island
167                              Nauru
179                   Pitcairn Islands
198                       Saint Helena
208              S?o Tom? and Pr?ncipe
220                            Tokelau
227                             Tuvalu
232        U.S. Minor Outlying Islands
236                       Vatican City
241                            Vanuatu
242                  Wallis and Futuna
244                             Kosovo
2                               Africa
14                                Asia
29   Bonaire, Saint Eustatius And Saba
33              British Virgin Islands
56                             Curaçao
60                             Denmark
71                              Europe
74      Federated States Of Micronesia
78                              France
118                       Kingman Reef
153                        Netherlands
160                      North America
164                            Oceania
186                       Saint Martin
204                      South America
232                     United Kingdom
(39, 1)

In [8]:
#filter columns of merged dataframe
df_filtered = df_left[["AverageTemperature", "Country", "latitude", "longitude"]]
print(df_filtered)

        AverageTemperature   Country   latitude  longitude
0                    4.384     Åland  60.178525  19.915610
1                      NaN     Åland  60.178525  19.915610
2                      NaN     Åland  60.178525  19.915610
3                      NaN     Åland  60.178525  19.915610
4                      NaN     Åland  60.178525  19.915610
...                    ...       ...        ...        ...
577457              19.059  Zimbabwe -19.015438  29.154857
577458              17.613  Zimbabwe -19.015438  29.154857
577459              17.000  Zimbabwe -19.015438  29.154857
577460              19.759  Zimbabwe -19.015438  29.154857
577461                 NaN  Zimbabwe -19.015438  29.154857

[577462 rows x 4 columns]

In [9]:
df_coordinates = df_filtered
#df_coordinates["coordinates"] = df_filtered[["latitude", "longitude"]].values.tolist()
df_coordinates["coordinates"] = list(zip(df_filtered.latitude, df_filtered.longitude))
print(df_coordinates)

        AverageTemperature   Country   latitude  longitude  \
0                    4.384     Åland  60.178525  19.915610
1                      NaN     Åland  60.178525  19.915610
2                      NaN     Åland  60.178525  19.915610
3                      NaN     Åland  60.178525  19.915610
4                      NaN     Åland  60.178525  19.915610
...                    ...       ...        ...        ...
577457              19.059  Zimbabwe -19.015438  29.154857
577458              17.613  Zimbabwe -19.015438  29.154857
577459              17.000  Zimbabwe -19.015438  29.154857
577460              19.759  Zimbabwe -19.015438  29.154857
577461                 NaN  Zimbabwe -19.015438  29.154857

                    coordinates
0        (60.1785247, 19.91561)
1        (60.1785247, 19.91561)
2        (60.1785247, 19.91561)
3        (60.1785247, 19.91561)
4        (60.1785247, 19.91561)
...                         ...
577457  (-19.015438, 29.154857)
577458  (-19.015438, 29.154857)
577459  (-19.015438, 29.154857)
577460  (-19.015438, 29.154857)
577461  (-19.015438, 29.154857)

[577462 rows x 5 columns]

<ipython-input-9-4c14866571b0>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_coordinates["coordinates"] = list(zip(df_filtered.latitude, df_filtered.longitude))

In [23]:

df_grouped = df_coordinates.groupby([df_temp.index.year, "Country" ]).agg({"AverageTemperature": "mean", "latitude": "first", "longitude": "first"}).reset_index()
print(df_grouped)

         dt         Country  AverageTemperature   latitude  longitude
0      1743         Albania             8.62000  41.153332  20.168331
1      1743         Andorra             7.55600  42.546245   1.601554
2      1743         Austria             2.48200  47.516231  14.550072
3      1743         Belarus             0.76700  53.709807  27.953389
4      1743         Belgium             7.10600  50.503887   4.469936
...     ...             ...                 ...        ...        ...
48238  2013  Western Sahara            23.74425  24.215527 -12.885834
48239  2013           Yemen            28.12975  15.552727  48.516388
48240  2013          Zambia            21.19600 -13.133897  27.849332
48241  2013        Zimbabwe            20.71075 -19.015438  29.154857
48242  2013           Åland             6.22975  60.178525  19.915610

[48243 rows x 5 columns]

In [11]:
countries = df_temp.Country.unique()

In [27]:
df_rolling = pd.DataFrame(columns=df_grouped.columns)
rolling_period = 3
for country in countries:
    subset = df_grouped[df_grouped.Country == country]
    for i in range(0, subset.shape[0]-(rolling_period-1)):
        subset.loc[subset.index[i+(rolling_period-1)], "RollingAvg"] = np.round(
            (subset.iloc[i, 2] + subset.iloc[i+1, 2] + subset.iloc[i+2, 2])/rolling_period, 2)
    df_rolling = df_rolling.append(subset, ignore_index=True)
print(df_rolling)

/Users/lukashoppe/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/Users/lukashoppe/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

         dt   Country  AverageTemperature   latitude  longitude  RollingAvg
0      1743     Åland            4.384000  60.178525  19.915610         NaN
1      1744     Åland            6.698500  60.178525  19.915610         NaN
2      1745     Åland           -3.896500  60.178525  19.915610        2.40
3      1746     Åland                 NaN  60.178525  19.915610         NaN
4      1747     Åland                 NaN  60.178525  19.915610         NaN
...     ...       ...                 ...        ...        ...         ...
48238  2009  Zimbabwe           21.377250 -19.015438  29.154857       21.51
48239  2010  Zimbabwe           21.986250 -19.015438  29.154857       21.64
48240  2011  Zimbabwe           21.602417 -19.015438  29.154857       21.66
48241  2012  Zimbabwe           21.521333 -19.015438  29.154857       21.70
48242  2013  Zimbabwe           20.710750 -19.015438  29.154857       21.28

[48243 rows x 6 columns]

In [25]:
df_grouped.index

RangeIndex(start=0, stop=48243, step=1)

In [28]:
grouped_df_country = df_rolling[df_rolling['AverageTemperature'].notna()]
grouped_df_country = grouped_df_country.groupby(['Country'], as_index=False).head(10)
grouped_df_country = grouped_df_country.groupby(
    'Country')[['AverageTemperature']].mean()
grouped_df_country = grouped_df_country.reset_index()
grouped_df_country.columns = ['Country', 'Base_Temp']
df_merged = df_rolling.merge(
    right=grouped_df_country, how='left', left_on='Country', right_on='Country')
df_merged.loc[:, 'Temp_Change'] = round(
    (df_merged.loc[:, 'RollingAvg'] / df_merged.loc[:, 'Base_Temp']) - 1, 4)

df_final = df_merged.drop(
    columns=['AverageTemperature', 'RollingAvg', 'Base_Temp', 'Country'])
df_final.columns = ['year', 'lat', 'lon', 'temp']
df_final.dropna(axis=0, how='any', inplace=True)

print(df_final)

       year        lat        lon    temp
2      1745  60.178525  19.915610 -0.4093
9      1752  60.178525  19.915610  0.0928
10     1753  60.178525  19.915610 -0.0032
11     1754  60.178525  19.915610 -0.0278
12     1755  60.178525  19.915610  0.2281
...     ...        ...        ...     ...
48238  2009 -19.015438  29.154857  0.0502
48239  2010 -19.015438  29.154857  0.0566
48240  2011 -19.015438  29.154857  0.0575
48241  2012 -19.015438  29.154857  0.0595
48242  2013 -19.015438  29.154857  0.0390

[41785 rows x 4 columns]

In [30]:
data = df_to_geojson(
    df_final,
    properties=['temp', 'year'],
    lat='lat',
    lon='lon',
    precision=4,
    filename='bycountries.json'
)

In [14]:
type(df_temp.index)

pandas.core.indexes.datetimes.DatetimeIndex